.git
.env
node_modules
vendor
.dockerignore
docker/8.0
docker/8.1
docker/8.2
docker/8.3
docker/8.4
docker/mariadb
docker/mysql
docker/pgsql
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
